.header {
    align-items: center;
    background: black;
    color: white;
    display: flex;
}
img {
    width: 200px;
    height: auto;
    display: block;
    padding: 20px;
}
.img1 {
    width: 800px;
    display: block;
    margin-right: auto;
}