body {
    margin: 0px;
    font-family: Arial, sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 73px;
    align-items: center;
    display: flex;
    overflow: hidden;
    background-color: black;
    justify-content: space-between;
    z-index: 100;
    transition: 1s;
}
header li {
    list-style: none;
    align-items: center;
    padding: 62px 62px;
    font-size: 30px;
    display: inline-block;
}
header li a{
    color: white;
    text-decoration: none;
}
header a {
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}
header a:before{
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
a:hover::before{
    width: 100%;
}
.img1 {
    width: 300px;
    height: auto;
    display: block;
}
.jane{
    display: flex;
    border: 2px solid black;
}
.long{
    display: flex;
    border: 2px solid black;
}
.call{
    display: flex;
    border: 2px solid black;
}
.hands{
    display: flex;
    border: 2px solid black;
}
.ob{
    display: flex;
    border: 2px solid black;
}
.v {
    display: flex;
    border: 2px solid black;
}
.blues{
    display: flex;
    border: 2px solid black;
}
.jordi{
    display: flex;
    border: 2px solid black;
}
.albums{
    padding-top: 60px;
}
.col {
    width:25%;
    float: left;
    padding: 10px;
}
header.sticky {
    padding: 20px 0;
}

