body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: rgb(254, 216, 222);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 73px;
    align-items: center;
    display: flex;
    overflow: hidden;
    background-color: black;
    justify-content: space-between;
    z-index: 100;
    transition: 1s;
}
header li {
    list-style: none;
    align-items: center;
    padding: 62px 62px;
    font-size: 30px;
    display: inline-block;
}
header li a{
    color: white;
    text-decoration: none;
}
header a {
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}
header a:before{
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0px;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
a:hover::before{
    width: 100%;
}
.img1 {
    width: 300px;
    height: auto;
    display: block;
}
header.sticky {
    padding: 20px 0;
}
.Merch{
    padding-top: 60px;
}
.merch{
    width:20%;
    height:20%;
    transition: 0.5s;
}
.product{
    padding:30px;
}
.Hoodie:hover{
    color: red;
}
.Hoodie2:hover{
    color: red;
}
.BlackTee:hover{
    color: red;
}
.Hat:hover{
    color: red;
}
.Candle:hover{
    color: red;
}
.Tank:hover{
    color: red;
}
.Column{
    float: left;
    width: 50%;
}
